.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.powerup {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #4caf50; /* Green */
    width: 80%;
    height: 80%;
}

.pwr-up-text {
    grid-column: 6 / span 6;
    grid-row: 2;
    font: 4em sans-serif;
}

#new-dice {
    grid-column: 3 / span 2;
    grid-row: 8;
    border-radius: 10px;
}

#dmg-up {
    grid-column: 9 / span 2;
    grid-row: 8;
    border-radius: 10px;
}
