.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.powerup {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: blue;
    height: 500px;
    width: 800px;
}

.pwr-up-text {
    grid-column: 4 / span 6;
    grid-row: 2;
    color: white;
    margin: 0;
    font: 3em sans-serif;
    text-align: center;
}

.new-dice {
    grid-column: 2 / span 4;
    grid-row: 4 / span 8;
    border-radius: 10px;
    background-color: tan;
    /* width: 300px;
    height: 250px; */
}

.dmg-up {
    grid-column: 8 / span 4;
    grid-row: 4 / span 8;
    border-radius: 10px;
    background-color: tan;
    /* width: 300px;
    height: 250px; */
}

.dice-text {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    align-items: center;
}

button {
    background-color: #4caf50; /* Green */
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 12px;
    width: 60%;
    height: 50px;
}
